@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: grid;
  grid-template-columns: 318px 318px 318px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.content {
  text-align: center;
  border-radius: 20px;
  background-color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 288px;
  padding: 15px;
  color: hsl(216, 15%, 48%);
}

.scale-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.bold-text {
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: contents;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 20px;
}

.fourth-item {
  grid-column: 2;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}